<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资金管理</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
</head>
<body>
<!--复用组件-->
<div class="modal fade" id="newFundDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">新增资金记录</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="insertForm">
                    <div class="mb-3">
                        <label for="addTime" class="col-form-label">添加时间</label>
                        <input type="date" class="form-control" id="addTime" name="addTime"/>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="col-form-label">分类</label>
                        <select class="form-select" aria-label="Default select example" id="category" name="category">
                            <option value="1">基金</option>
                            <option value="2">股票</option>
                            <option value="3">债券</option>
                            <option value="4">黄金</option>
                            <option value="5">生活</option>
                            <option value="6">玩乐</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">金额</label>
                        <input type="number" class="form-control" id="amount" name="amount">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="insert()" data-bs-dismiss="modal">新增</button>
            </div>
        </div>
    </div>
</div>

<!--开始-->
<div class="container text-center">
    <nav class="navbar bg-body-tertiary">
        <form class="d-flex" role="search" th:action="@{/payInfo/fundDetails}">
            <button class="btn btn-outline-success me-5 btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#newFundDetails" data-bs-whatever="@mdo">新增资金记录</button>
            <input class="form-control me-5" type="search" placeholder="年份(e.g: 2024)" aria-label="Search" name="year">
            <input class="form-control me-5" type="search" placeholder="季度(1/2/3/4)" aria-label="Search" name="quarter">
            <input class="form-control me-5" type="search" placeholder="月份(1-12)" aria-label="Search" name="month">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </nav>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">添加时间</th>
            <th scope="col">分类</th>
            <th scope="col">金额</th>
            <th scope="col">创建时间</th>
            <th scope="col">修改时间</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="detail : ${fundDetails}">
            <td th:text="${detail.addTime}"></td>
            <td th:text="${detail.category.getDesc()}"></td>
            <td th:text="${detail.amount.toAmount()}"></td>
            <td th:text="${detail.createTime}"></td>
            <td th:text="${detail.updateTime}"></td>
            <td>
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteFund(this)" th:value="${detail.id}">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Content here -->
</div>
<!--结束-->
<script  type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script  type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script>
    var currentDate = new Date();
    var day = String(currentDate.getDate()).padStart(2, '0');
    var month = String(currentDate.getMonth() + 1).padStart(2, '0');
    var year = currentDate.getFullYear();
    var dateString = year + '-' + month + '-' + day;
    document.getElementById("addTime").value = dateString;
</script>
<script>
    function insert(){
        $.ajax({
            url: 'http://localhost:80/payInfo/fundDetail',
            method: 'POST',
            data:$('#insertForm').serialize(),
            async: false,
            error: function(request) {
                alert("出错啦！！！");
            },
            success: function(data) {
                alert("添加成功， 距离财富自由又近一步啦。");
                location.reload();
            }
        })
    }

    function deleteFund(val){
        $.ajax({
            url: 'http://localhost:80/payInfo/fundDetail?id=' + val.value,
            method: 'DELETE',
            async: false,
            error: function(request) {
                alert("出错啦！！！");
            },
            success: function(data) {
                alert("删除成功");
                location.reload();
            }
        })
    }
</script>
</body>
</html>