<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
</head>
<body>
<!--复用组件-->
<div class="modal fade" id="newFundDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">新增资金记录</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="addTime" class="col-form-label">添加时间</label>
                        <input type="date" class="form-control" id="addTime">
                    </div>
                    <div class="mb-3">
                        <label for="category" class="col-form-label">分类</label>
                        <input type="" class="form-control" id="category">
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">金额</label>
                        <textarea class="form-control" id="amount"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="createTime" class="col-form-label">创建时间</label>
                        <textarea class="form-control" id="createTime"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="updateTime" class="col-form-label">修改时间</label>
                        <textarea class="form-control" id="updateTime"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">新增</button>
            </div>
        </div>
    </div>
</div>

<!--开始-->
<div class="container text-center">
    <nav class="navbar bg-body-tertiary">
        <form class="d-flex" role="search">
            <button class="btn btn-outline-success me-5" type="button" data-bs-toggle="modal" data-bs-target="#newFundDetails" data-bs-whatever="@mdo">新增资金记录</button>
            <input class="form-control me-5" type="search" placeholder="年份(e.g: 2024)" aria-label="Search">
            <input class="form-control me-5" type="search" placeholder="季度(1/2/3/4)" aria-label="Search">
            <input class="form-control me-5" type="search" placeholder="月份(1-12)" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </nav>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">添加时间</th>
            <th scope="col">分类</th>
            <th scope="col">金额</th>
            <th scope="col">创建时间</th>
            <th scope="col">修改时间</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">2</th>
            <td>2024-01</td>
            <td>债券</td>
            <td>10080</td>
            <td>2024-3-4 21:33:19</td>
            <td>
                <button type="button" class="btn btn-warning btn-sm">编辑</button>
                <button type="button" class="btn btn-danger btn-sm">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Content here -->
</div>
<!--结束-->
<script  type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>